
.waveContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70vh;
  z-index: -10;
  overflow: hidden;
  background-color: transparent;
}

.wave1,
.wave2,
.wave3,
.wave4 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: auto;
  min-width: 1440px; 
}

.wave1 {
  fill: var(--wave-1);
}

.wave2 {
  fill: var(--wave-2);
}

.wave3 {
  fill: var(--wave-3);
}

.wave4 {
  fill: var(--wave-4);
}
